<div class="section">
  <div class="post-list">
    <h1>Blog Posts</h1>
    <div class="post-list-mock"></div>

    <div class="post-item">
      <h2>
        <a href="#">Post Title 1</a>
      </h2>
      <div class="post-blurb">
        Post blurb
      </div>
      <div>
        <span class="post-date">
          MMM dd, yyyy
        </span>
        <span class="post-topics">
          <span class="post-topic-label">&bull;</span>
          <span class="post-topic-item">
            <a href="">
              topic-1
            </a>
          </span>
          <span class="post-topic-item">
            <a href="">
              topic-2
            </a>
          </span>
        </span>
      </div>
    </div>

    <div class="post-item">
      <h2>
        <a href="#">Post Title 2</a>
      </h2>
      <div class="post-blurb">
        Post blurb
      </div>
      <div>
        <span class="post-date">
          MMM dd, yyyy
        </span>
        <span class="post-topics">
          <span class="post-topic-label">&bull;</span>
          <span class="post-topic-item">
            <a href="">
              topic-1
            </a>
          </span>
        </span>
      </div>
    </div>

  </div>
</div>
