<div class="section">
  <div class="post-list">
    <h1>Posts</h1>

    <div class="post-item">
      <h2>
        <a href="#">Post Title 1</a>
      </h2>
      <div class="post-blurb">
        Blurb
      </div>
      <div class="post-topics">
        <span class="post-topic-item">
          <a href="#">
            topic-1
          </a>
        </span>
        <span class="post-topic-item">
          <a href="#">
            topic-2
          </a>
        </span>
      </div>
      <div class="post-date">
        MMM dd, yyyy
      </div>
    </div>

    <div class="post-item">
      <h2>
        <a href="#">Post Title 2</a>
      </h2>
      <div class="post-blurb">
        Blurb
      </div>
      <div class="post-topics">
        <span class="post-topic-item">
          <a href="#">
            topic-1
          </a>
        </span>
      </div>
      <div class="post-date">
        MMM dd, yyyy
      </div>
    </div>

  </div>
</div>
