body {
  color: #ccc;
  background-color: #2C354A;
}

h1 {
  font-size: 38px;
  font-weight: normal;
}

h2 {
  font-size: 26px;
  font-weight: bolder;
}

p {
  margin-bottom: 12px;
}

a {
  color: #967F4A;
  text-decoration: none;
}

a:hover {
  color: #C7982C;
  text-decoration: none;
}

a:active {
  color: #FFE7B0;
  text-decoration: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

.page-header {
  margin-top: 14px;
  padding: 0;
}

.navbar-brand {
  margin-right: 26px;
  text-decoration: none;
}

.navbar-brand:active {
  text-decoration: none;
}

@media (max-width: 992px) {
  #main-navbar {
    margin-top: 16px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  padding: 8px;
  text-decoration: none;
  border-radius: 2px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #967B3B;
}

.navbar-dark .navbar-nav .nav-link:active {
  background-color: #968763;
}

.page-content {
  margin-top: 22px;
  margin-bottom: 64px;
  padding-left: 0;
  padding-right: 0;
}

.page-footer {
  display: block;
  margin-top: 32px;
  margin-bottom: 28px;
}

.page-footer .container {
  padding-left: 24px;
  padding-right: 24px;
}

.page-footer .copyright-text {
  margin-bottom: 32px;
  font-size: 14px;
}

.content-inner {
  background-color: #333A4A;
  border-radius: 12px;
  padding: 24px 24px 24px 24px;
}

.content-sidebar {
  /* margin-left: 8px; */
  margin-right: 24px;
  margin-top: 32px;
}

.section {
  margin-top: 8px;
  margin-bottom: 20px;
}

.section > p {
  margin-top: 12px;
  line-height: 26px;
}

.welcome {
  margin-bottom: 20px;
  text-align: center;
}

.welcome h1, h2, h3, p, div, span, a {
  text-align: left;
}

.hr {
  border-bottom: 1.2px solid #4B4E54;
  display: inline-block;
  width: 60%;
}

.post-list {
  margin-bottom: 8px;
}

.post-list h1 {
  margin-top: 6px;
}

.post-list .post-count {
  color: gray;
  margin-left: 0;
  font-size: 24px;
}

.post-list-blurb {
  color: gray;
}

.post-list-contents {
  margin-top: 12px;
}

.post-list-empty {
  margin-top: 24px;
}

.post-item {
  margin-top: 26px;
}

.post-item .post-title {
  font-weight: bold;
}

.post-blurb {
  margin-bottom: 12px;
}

.post-topics {
  margin-bottom: 4px;
}

.post-topic-item {
  margin-right: 4px;
}

.post-topic-label {
  color: gray;
  margin-left: 3px;
  margin-right: 3px;
}

.topics {
  font-size: 120%;
}

.topics h2, h3 {
  margin-bottom: 12px;
  margin-left: 10px;
}

.topic-item {
  padding: 6px 10px 6px 10px;
  border-radius: 2px;
  text-decoration: none;
}

.topic-item:hover {
  background-color: #967B3B;
}

.topic-item:hover > a {
  color: #E3C786;
  text-decoration: none;
}

.topic-item:active > a {
  color: #FFE7B0;
  text-decoration: none;
}

.post .post-heading {
  margin-bottom: 32px;
}

.post .post-heading .post-title {
  font-weight: bold;
}

.post .post-body h1, h2 {
  font-weight: normal;
}

.post .post-body h1 {
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.post .post-body h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.post .post-body h3 {
  font-size: 18px;
  margin-top: 16px;
  margin-left: 6px;
}

.post .post-body h4, h5, h6 {
  font-size: 18px;
  margin-top: 16px;
  margin-left: 8px;
}
