body {
  color: #ccc;
  background-color: #333;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

.page-header {
  padding: 0;
}

.page-content {
  margin-top: 22px;
  margin-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.page-footer {
  display: block;
  margin-top: 32px;
  margin-bottom: 28px;
}

.page-footer .container {
  padding-left: 24px;
  padding-right: 24px;
}
