---
layout: default
---

{% include welcome.html %}

<div class="section">
  <div class="post-list">
    <h1>{{ page.title }}</h1>
    <div class="post-list-blurb">{{ page.blurp }}</div>
    <div class="post-list-contents">{{ content }}</div>

    {% assign posts = site.posts %}

    {% if posts.size == 0 %}
    <div class="post-list-empty">Nothing to see here. Bummer!</div>
    {% else %}
      {% assign date_format = site.data.core.date_format | default: "%b %-d, %Y" %}
      {% for post in posts %}
      <div class="post-item">
        <h2>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.blurb %}
        <div class="post-blurb">
          {{ post.blurb | escape }}
        </div>
        {% endif %}
        <div>
          <span class="post-date">
            {{ post.date | date: date_format }}
          </span>
          {% assign topics = post.topics %}
          {% if topics.size > 0 %}
          <span class="post-topics">
            <span class="post-topic-label">&bull;</span>
            {% for topic in topics %}
            <span class="post-topic-item">
              <a href="">{{ topic | escape }}</a>
            </span>
            {% endfor %}
          </span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    {% endif %}

  </div>
</div>
